In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Pokemon.csv")
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [7]:
type2_fairy_gen2 = df.loc[df["Generation"] == 2, "Type 2"].value_counts()
type2_fairy_gen2

Flying      19
Ground       8
Poison       3
Fairy        3
Psychic      3
Steel        3
Rock         3
Fire         3
Electric     2
Dragon       2
Fighting     2
Dark         2
Ice          1
Grass        1
Name: Type 2, dtype: int64

In [32]:
type1_flying = df[df["Type 1"] == "Flying"].value_counts()
type1_flying

#    Name     Type 1  Type 2  Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
714  Noibat   Flying  Dragon  245    40  30      35       45       40       55     6           False        1
715  Noivern  Flying  Dragon  535    85  70      80       97       80       123    6           False        1
dtype: int64

In [13]:
df["Sp. Atk"]

0       65
1       80
2      100
3      122
4       60
      ...
795    100
796    160
797    150
798    170
799    130
Name: Sp. Atk, Length: 800, dtype: int64

In [17]:
most_speed = df["Speed"].value_counts()
most_speed

50     46
60     44
70     37
65     36
30     35
       ..
39      1
24      1
82      1
113     1
123     1
Name: Speed, Length: 108, dtype: int64

In [19]:
max_generation = df["Generation"].value_counts()
max_generation

1    166
5    165
3    160
4    121
2    106
6     82
Name: Generation, dtype: int64

In [22]:
hp = df["HP"].min()
lowest_hp = df[df["HP"] == hp]
lowest_hp

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
316,292,Shedinja,Bug,Ghost,236,1,90,45,30,30,40,3,False

In [25]:
df.loc[df["HP"] == hp,"Name"]

316    Shedinja
Name: Name, dtype: object

In [26]:
highest_attack = df.loc[df["Attack"] == df["Attack"].max(), "Name"]
highest_attack

163    MewtwoMega Mewtwo X
Name: Name, dtype: object

In [28]:
legendary_pokemon = df["Legendary"].value_counts()
legendary_pokemon

False    735
True      65
Name: Legendary, dtype: int64

In [30]:
duplicated = df[df.duplicated()]
duplicated

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []